/*------------------------------------------------------------------
 Global
*/
html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: $footer-height;
}
.section-block {
	padding-bottom: $section-block; 
}
.section-block-intro {
	margin-top: $section-block-intro;
}
/*------------------------------------------------------------------
 Header Navigation
*/
.navbar-expand-sm .navbar-nav .dropdown-menu {
    margin-top: 6px;
    margin-left: -149px;
}
.header-profile-img {
    margin-top: 6px;
    margin-right: 5px;
    margin-left: 5px;
    width: 24px;
    height: 24px;
}
.header_gravatar {
	border-radius: 50% !important;
}
.logout-color {
	color: $active-color;
}
/*------------------------------------------------------------------
 Devise Alerts
*/
.devise-alert-messages {
    margin-top: -16px;
    .alert {
    	height: 50px;
    }
}
.devise-alert-messages {
	p {
    margin-left: 63px; }
}
.devise-alert-messages .alert-dismissible .close {
    margin-right: 62px;
}

/*------------------------------------------------------------------
 Pages
*/
// Edit Account
.edit-profile {
	border: $border;
	border-radius: $border-radius;
	padding: $padding;
}
.profile-img-edit {
	width: 200px;
	height: 200px;
}
.gravatar {
	padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}
/*------------------------------------------------------------------
 Footer
*/
.footer { 
	position: absolute;
	bottom: 0;
	height: $footer-height;
	line-height: $footer-height;
	background-color: $footer-color;
	width: 100%;

}