/*------------------------------------------------------------------
 Navigation
*/

.logout-color {
	color: $active-color
}


/*------------------------------------------------------------------
 Devise Alerts
*/

.devise-alert-messages {
    margin-top: -16px;
}

.devise-alert-messages {
	p {
    margin-left: 63px; }
}

.devise-alert-messages .alert-dismissible .close {
    margin-right: 62px;
}

.devise-alert-messages .alert {
    height: 50px;
}