// === Global Variables ===
$section-block: 100px;
$section-block-intro: 160px;
$active-color: #b80a09;
// === Pages ===
$border: 0.2rem solid #f7f7f9;
$border-radius: 0.3rem;
$padding: 1.3rem;
// === Footer ===
$footer-height: 100px;
$footer-color: #f6f6f6;